/* GLOBAL STYLING */
/* Import for Lora, Roboto and Ubuntu Fonts
to apply them, use these:
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&family=Ubuntu:wght@300&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.orange-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    background-color: #FF7A00;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.black-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    background-color: #111F1C;
    color: #ffffff;
    border-radius: 3rem;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

/* LANDING PAGE */

/* LOGIN & SIGN UP PAGE */

/* CALENDAR PAGE */
.calendar-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.calendar-content{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    width: 75rem;
    height: 40rem;
}

.calendar-row{
    display: flex;
    width: 75rem;
    height: 35rem;
    justify-content: space-between;
    align-items: center;
}

.task-card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
}

.task-top{
    color: #fff;
    border-radius: 1rem 1rem 0 0;
    border: 2px solid #000;
    width: 20rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(195.27deg, #3FC284 8.37%, #59AB84 86.66%);
}

.task-bottom{
    border-radius: 0 0 1rem 1rem;
    border: 2px solid #000;
    width: 20rem;
    height: 26rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.task-card-divider{
    border-bottom: 2px #000 solid;
    width: 18rem;
    height: 2px;
}

.calendar-divider{
    border-left: 2px black solid;
    height: 40rem;
    width: 2px;
    height: 35rem;
}

.calendar-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40rem;
}

/* FORECAST PAGE */

/* COST SPLITTER PAGE */

/* EVENT CREATION PAGE */